.header {
  text-align: center;
  padding: 20px;
  background-color: #1DB954; 
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #fefefd;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2rem;
  color: #fefefd;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
}

.playlistPlaceholder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.playlistCard {
  background-color: #282C34; 
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s ease;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.playlistCard:hover {
  transform: scale(1.05);
}

.playlistLink {
  text-decoration: none;
  color: #fefefd;
}

.playlistImage {
  border-radius: 8px;
  margin-bottom: 15px;
}

.playlistTitle {
  font-size: 1.4rem;
  font-weight: bold;
  color: #fefefd;
}

.spotifySection {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.spotifySection .button {
  background-color: #1db954; 
  color: #fefefd;
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.spotifySection button:hover {
  background-color: #1aa34a;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #1a1c20;
}

.footer p {
  font-size: 1rem;
  color: #fefefd;
}

.loginSection {
  margin-top: 20px;
  text-align: center;
}

.loginSection .button {
  background-color: #1db954;
  color: #fefefd;
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.loginSection .button:hover {
  background-color: #1aa34a;
}

@media (max-width: 768px) {
  .playlistGrid {
    grid-template-columns: 1fr 1fr; 
    gap: 15px;
  }

  .playlistCard {
    padding: 10px;
  }

  .playlistImage {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .playlistGrid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .playlistCard {
    padding: 8px;
  }
}